* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'ubuntu';
}


/* -----------------header---------------------------- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 25%;
}

header div {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 5%;
}

header nav {
    padding: 5vh 3rem;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: #DFAA5B;
    font-size: 1.5rem;
    text-decoration: none;
}

/* -----------------Welcome to BON HOTEL---------------------------- */



.hotel_picture {
    background-image: url('../img/drive-download-20230215T092329Z-001/hero_image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h1 {
    font-size: 4rem;
    margin-top: 8%;
}

section p {
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-top: 5%;
}

section button {
    background-color: #DFAA5B;
    color: white;
    border: none;
    padding: 1rem 4rem;
    border-radius: 10px;
}

/* -----------------Facilities und Icons--------------------------- */

.image_section {
    padding: 3vh 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_section h2 {
    color: #DFAA5B;
    font-size: 2rem;
    padding: 1.5vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.image_section div {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_section div img {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-bottom: 2vh;
}

/* -----------------Rooms and Rates--------------------------- */
.rooms {
    font-size: 3rem;
    padding: 1.5vh 1vw;
    width: 100%;
    color: #DFAA5B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3%;
}

.box p {
    margin-top: -70px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonStyle {
    background-color: #DFAA5B;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}

/* -----------------Get a room already!--------------------------- */

.already {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}

.already h3 {
    color: #DFAA5B;
    font-size: 2rem;
}

.already button {
    background-color: #DFAA5B;
    color: white;
    border: none;
    padding: 1rem 5rem;
    border-radius: 10px;
    margin-top: 3%;
}

/* -----------------Footer--------------------------- */
/* -----------------Footer div 1--------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    height: 18vh;
    color: white;
}

.footis {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 30px;
}

footer div img {
    max-width: 50%;
    margin-bottom: 40px;
    margin-left: 20px;
}

footer div p {
    margin-left: 20px;
}

/* -----------------Footer div 2--------------------------- */

.footis a {
    color: white;
    text-decoration: none;
    padding: 8px 0;
    font-size: 1rem;
}

/* -----------------Footer div 3--------------------------- */
.footis h5 {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.footis form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footis input[type=text] {
    border: none;
    border-radius: 4px;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
}

.footis form button {
    background-color: #DFAA5B;
    border: none;
    border-radius: 4px;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
}